<header class="header">
  <div class="container">

    <!-- Logo -->
    <div class="logo">
      <a href="../index.html">
        <img src="../assets/images/logo/logouse.jpg" alt="School Logo">
      </a>
    </div>

    <nav>
      <ul>

        <li><a href="../index.html">Home</a></li>
        <li><a href="../about.html">About</a></li>

        <!-- Academic -->
        <li class="dropdown">
          <a href="../academic.html">Academic</a>
          <ul class="dropdown-menu">
            <li><a href="../academic/calendar.html">Calendar</a></li>
            <li><a href="../academic/results.html">Results</a></li>
            <li><a href="../academic/syllabus.html">Syllabus</a></li>
            <li><a href="../academic/timetable.html">Timetable</a></li>
          </ul>
        </li>

        <!-- Administration -->
        <li class="dropdown">
          <a href="../administration.html">Administration</a>
          <ul class="dropdown-menu">
            <li><a href="../administration/management.html">Management</a></li>
            <li><a href="../administration/principal.html">Principal</a></li>
            <li><a href="../administration/mission-vision.html">Mission & Vision</a></li>
            <li><a href="../administration/rules.html">Rules</a></li>
            <li><a href="../administration/fees.html">Fees</a></li>
          </ul>
        </li>

        <!-- Facilities -->
        <li class="dropdown">
          <a href="../facilities.html">Facilities</a>
          <ul class="dropdown-menu">
            <li><a href="../facilities/computer-lab.html">Computer Lab</a></li>
            <li><a href="../facilities/laboratory.html">Laboratory</a></li>
            <li><a href="../facilities/library.html">Library</a></li>
            <li><a href="../facilities/sports.html">Sports</a></li>
            <li><a href="../facilities/transport.html">Transport</a></li>
          </ul>
        </li>

        <li><a href="../faculty.html">Faculty</a></li>
        <li><a href="../gallery.html">Gallery</a></li>
        <li><a href="../admission.html">Admission</a></li>
        <li><a href="../downloads.html">Downloads</a></li>
        <li><a href="../notices.html">Notices</a></li>
        <li><a href="../contact.html">Contact</a></li>

      </ul>
    </nav>

  </div>
</header>
