<header class="header">
  <div class="container">

    <div class="logo">
      <a href="index.html">
        <img src="assets/images/logo/logouse.jpg" alt="School Logo">
      </a>
    </div>

    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>

        <li><a href="academic.html">Academic</a></li>
        <li><a href="administration.html">Administration</a></li>
        <li><a href="facilities.html">Facilities</a></li>

        <li><a href="faculty.html">Faculty</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="admission.html">Admission</a></li>
        <li><a href="downloads.html">Downloads</a></li>
        <li><a href="notices.html">Notices</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>
